/.sarif
/.vs
/.config
/.VSCodeCounter
/.vscode
/CodeLineCounter/bin
/CodeLineCounter/obj
/CodeLineCounter.tests/bin
/CodeLineCounter.tests/obj
/codeLineCounter.tests/TestResults
/CodeLineCounter.tests/coverageReport
/publish
/*.zip
/*.csv
/*.json
/*.xlsx
/output.txt
/test.cmd
/.github/codeql
/codeql*
/*.dot
/*snyk*
